[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
dropbox = "*"
pandas = "*"
types-six = "*"

[dev-packages]
black = "*"
coveralls = "*"
mypy = "*"
pandas-stubs ="*"
pip-audit = "*"
pre-commit = "*"
pytest = "*"
pytest-mock = "*"
ruff = "*"
types-requests = "*"

[requires]
python_version = "3.12"

[scripts]
att = "python -c \"from att.cli import cli; cli()\""
